
#items_two{
    position: fixed;
    left: 900px;
}

button#new_card1{
    position: fixed;
    left: 500px;
}

button#new_card2{
    position: fixed;
    left: 1045px;
}
input#cardForm{
    position: fixed;
    top: 9px;
    left:320px;
}


[class*="card-"] {
    width: 100px;
    height: 20px;
    left: 600px;
    border-style: solid;
    border-width: 5px;
    
   
    

}

.dropZone{
   position: relative;
    height: 50px;
    width: 250px;
    background-color: hotpink;
    left: 70%;
    top: 50%;
    transform: translate(-70%, -50%);
    padding-bottom: 20px;
}

#draggable{
    position: absolute;
    height: 30px;
    width: 200px;
    background-color: black;
}

.sortdiv{
    position: fixed;
    height: 50px;
    width: 100px;
    top: 500px;
    left: auto;
    background-color: black;
}
.sortdiv1{
    position: fixed;
    height: 50px;
    width: 100px;
    top: 500px;

    left: 200px;
    background-color: black;
}
.dragMe{
    position: fixed;
    height: 30px;
    width: 50px;
    top: 100px;
    background-color: yellow;
}

