* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(58,134,180);
    background: linear-gradient(70deg, rgba(58,134,180,1) 0%, rgba(29,49,253,1) 61%, rgba(252,69,69,1) 100%); 
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: .9rem;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    font-size: inherit;
}

header {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;
}

.shape {
    z-index: -1;
    position: absolute;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
#logo-shape {
    top: -600px;
    left: -600px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    background: rgb(58,134,180);
    background: linear-gradient(0deg, rgb(0, 157, 255) 70%, rgb(60, 184, 35) 100%); 
}

#logo {
    position: relative;
    height: 100%;
    margin-left: 40px;
}

#logo img {
    height: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.txt-white {
    color: white;
}
.txt-yellow {
    color: orange;
}
.bg-transparent {
    background-color: transparent;
}

.center {
    display: flex;
    flex-direction: column;
}

#fill-screen {
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#slogan {
    width: 90%;
    max-width: 600px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    opacity: 0;
    top: 15px;
    transition: .8s ease;
    font-weight: 500;
}

#slogan h1 {
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

form {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form input, button {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    padding: 12px;
    border: none;
}

form input {
    background-color: white;
}

form button {
    text-transform: uppercase;
    font-weight: 700;
    background-color: blue;
    transition: .1s ease;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: darkblue;
}

form span {
    cursor: pointer;
    transition: .2s ease;
}

form span:hover {
    color: orangered;
}

.message {
    margin-top: 5px;
    color: white;
}

#register {
    display: none;
}

.title h2 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}

.project {
    position: relative;
    width: 200px;
    padding:15px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin: 10px;
}

.project img {
    height: 25px;
    width: 25px;
    border-radius: 30px;
}

.project-title, .project-maker, .project-created {
    align-items: center;
}

.project-title, .project-maker, .project-desc, .project-created {
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    margin-bottom: 14px;
}

.project p {
    margin-left: 10px;
}

.bg-red {
    background: rgb(122,4,4);
    background: linear-gradient(20deg, rgba(122,4,4,1) 0%, rgba(252,69,69,1) 100%); 
}
.red {
    color: rgba(168, 10, 10, 0.8);
}
.bg-orange {
    background: rgb(211, 133, 30);
    background: linear-gradient(20deg, rgba(243, 149, 42, 1) 0%, rgb(252, 213, 108) 100%); 
}
.orange {
    color: rgba(243, 149, 42, 0.8);
}
.bg-green {
    background: rgb(63, 133, 16);
    background: linear-gradient(20deg, rgba(63, 133, 16, 1) 0%, rgb(170, 255, 144) 100%); 
}
.green {
    color: rgba(52, 141, 24, 0.8);
}

.project-title {
    width: calc(100% - 5px);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 5px 5px 0 0;
}

.project-title h2{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.project-maker {
    font-weight: 600;
    padding-top: 30px;
    text-transform: capitalize;
}

.project-desc img, .project-created img {
    opacity: 0.8;
}

.project-created {
    font-weight: 600;
}

.project-members img {
    margin-right: -17px;
    background-color: yellowgreen;
    border: 3px solid white;
}

@media only screen and (max-width: 470px) {
    header {
        height: 60px;
        text-align: center;
    }
    #logo {
        left: 0;
    }
    #slogan {
        margin-bottom: 10px;
    }
    #slogan h1 {
        font-size: 2rem;
    }
}