body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+99 */
background: #1e5799; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #7db9e8 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#7db9e8 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #1e5799 0%,#7db9e8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto; 
}

.form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    opacity: 45%;
}

.form input{
    font-family: "roboto", sans-serif;
    outline: 1;
    background:rgb(236, 231, 231);
    width: 100%;
    border: 0;
    border-radius: 50px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; 
}

.form button {
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#FFC400;
    width: 30%;
    border: 0;
    padding: 10px;
    color: gray;
    font-size: 15px;
    cursor: vertical-text;
    border-radius: 50px;

}

.form button:hover, .form button:active{
    background: lightyellow;
    
}

.form .message{
    margin: 15px 0 0;
    color: black;
    font-size: 12px;
}

.form #log_in{
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#FFC400;
    width: 40%;
    border: 0;
    padding: 10px;
    color: gray;
    font-size: 15px;
    cursor: vertical-text;
    border-radius: 50px;
    text-decoration: none;

}

.form .message a{
    color:gray;
    text-decoration: none;
}

.form .register-form {
    display: none;
}