* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

li {
    list-style: none;
}

#page-header {
    width: 100vw;
    background-color: red;
    height: 75px;
    padding: 10px 0;
}

#page-nav {
    background-color: white;
    height: 50px;
}

#page-nav ul {
    float: right;
}

#page-nav ul li {
    float: left;
    margin-right: 20px;
}