* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

span {
    font-size: inherit;
}

header {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    background-color: black;
}

wrapper {
    position: absolute;
    z-index: -1;
    width: 100%;
    padding-top: 120px;
    background-color: steelblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo {
    position: relative;
    height: 100%;
    left: 40px;
}

#logo img {
    height: 100%;
}

.yellow {
    color: orange;
}

.center {
    display: flex;
    flex-direction: column;
}

#slogan {
    width: 100%;
    max-width: 700px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

#slogan h1 {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}

@media only screen and (max-width: 600px) {
  }