* {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

span {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}
/*
.shape {
    z-index: -1;
    position: absolute;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
#logo-shape {
    top: -600px;
    left: -600px;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    background: rgb(58,134,180);
    background: linear-gradient(0deg, rgba(58,134,180,1) 70%, rgb(100, 252, 69) 100%); 
}
*/
#logo {
    position: relative;
    height: 100%;
}

#logo img {
    height: 100%;
}

nav {
    position: absolute;
    height: 100%;
    right: 0;
}

nav img {
    border-radius: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

nav li {
    font-weight: 700;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#projects-header {
    padding-top: 140px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(58,134,180);
    background: linear-gradient(70deg,rgb(187, 163, 27) 0%, rgb(36, 236, 226) 100%); 
}

#projects-header h1 {
    color: white;
}

#container {
    width: 95%;
    max-width: 500px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

#container input,button {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

#addMember {
    flex-direction: column;
    align-items: center;
}

#memberSelection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#memberSelection p {
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.member {
    background-color: white;
    border-radius: 20px;
}

#wrapper {
    display: block;
    width: 95%;
    max-width: 1000px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
#lag_tavle {
    width: 100%;
}

#nyTavleKnapp {
    width: 95%;
    background-color: red;
    border-radius: 10px;
    padding: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

#nyTavleKnapp p{
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

#tavler {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tavle {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 200px;
    max-width: 500px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid red;
}

.tavle input, button {
    padding: 10px;
    border: none;
    font-weight: 700;
}

.tavle button {
    cursor: pointer;
    width: 100%;
    margin: 0;
    color: white;
    background-color: red;
    border-radius: 0 0 2px 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tavle input {
    font-size: 1.2rem;
    margin: 10px;
    background-color: transparent;
    text-align: center;
}
