.container {
    position: absolute;
    margin: 0 auto;
    margin-top: 100px;
}

.container-fluid {
    width: 100vw;
}

.row {
    width: 100%;
    padding: 2.5%;
}

.col-push-1 {
    width: 8.33%;
    display: block;
}

.col-push-2 {
    width: 16.66%;
    display: block;
}

.col-push-3 {
    width: 25%;
    display: block;
}

.col-push-4 {
    width: 33.33%;
    display: block;
}

.col-push-5 {
    width: 41.66%;
    display: block;
}

.col-push-6 {
    width: 50%;
    display: block;
}

.col-push-7 {
    width: 58.33%;
    display: block;
}

.col-push-8 {
    width: 66.66%;
    display: block;
}

.col-push-9 {
    width: 75%;
    display: block;
}

.col-push-10 {
    width: 83.33%;
    display: block;
}

.col-push-11 {
    width: 91.66%;
    display: block;
}

.col-push-12 {
    width: 100%;
    display: block;
}

@media only screen and (min-width: 450px) {
    .col-large-1 {
        width: 8.33%;
    }

    .col-large-2 {
        width: 16.66%;
    }

    .col-large-3 {
        width: 25%;
    }

    .col-large-4 {
        width: 33.33%;
    }

    .col-large-5 {
        width: 41.66%;
    }

    .col-large-6 {
        width: 50%;
    }

    .col-large-7 {
        width: 58.33%;
    }

    .col-large-8 {
        width: 66.66%;
    }

    .col-large-9 {
        width: 75%;
    }

    .col-large-10 {
        width: 83.33%;
    }

    .col-large-11 {
        width: 91.66%;
    }

    .col-large-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    #slogan {
        font-size: 1.3em;
    }

    header {
        justify-content: left;
        height: 70px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container {
        position: absolute;
        margin: 100px auto;
    }

    .col-small-1 {
        width: 8.33%;
    }

    .col-small-2 {
        width: 16.66%;
    }

    .col-small-3 {
        width: 25%;
    }

    .col-small-4 {
        width: 33.33%;
    }

    .col-small-5 {
        width: 41.66%;
    }

    .col-small-6 {
        width: 50%;
    }

    .col-small-7 {
        width: 58.33%;
    }

    .col-small-8 {
        width: 66.66%;
    }

    .col-small-9 {
        width: 75%;
    }

    .col-small-10 {
        width: 83.33%;
    }

    .col-small-11 {
        width: 91.66%;
    }

    .col-small-12 {
        width: 100%;
    }
}