wrapper {
    display: flex;
    flex-direction: column;
    position: relative;;
    padding-top: 140px;
    width: 100%;
}

#lag-liste {
    position: relative;
    padding-left: 10px;
}

#nyListeKnapp {
    display: inline-block;
    height: 50px;
    background-color: black;
    border-radius: 50px;
}

#nyListeKnapp p {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

#lister {
    position: relative;
    background: rgb(85,134,255);
    background: linear-gradient(48deg, rgba(85,134,255,1) 0%, rgba(57,255,186,1) 100%); 
    padding-left: 5px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.slettListe {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    padding:10px;
    border: none;
    border-radius: 0 5px 0 0;
    background-color: red;
    color: white;
}

.leggTilKort {
    background: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.liste {
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.list-title {
    background: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-members img,
.card-maker img,
.card-desc img,
.card-created img,
.card-deadline img {
    height: 25px;
    width: 25px;
    border-radius: 30px;
}

.card-members {
    cursor: default;
}

.card-members:hover>img {
    margin-right: -5px;
}

.card-members img {
    height: 20px;
    width: 20px;
    transition: .3s ease-in-out;
    margin-right: -15px;
    background-color: yellowgreen;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.card-title,
.card-maker,
.card-member-select,
.card-desc,
.card-members,
.card-created,
.card-deadline,
.card-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    flex-direction: row;
    align-items: center;
}

.card-title {
    border-radius: 5px 5px 0 0;
    order: 1;
    background: blue;
    position: relative;
}

.card-title input {
    width: 100%;
    color: white;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.card-desc {
    order: 2;
    min-height: 100px;
    display: block;
    flex-direction: column;
}

.card-desc textarea {
    border: none;
    width: 100%;
    max-height: 340px;
    resize: none;
    color: black;
    order: 2;
}

.card-maker {
    order: 3;
}

.card-member-select {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.card-deadline {
    order: 4;
    width: 95%;
}

.card-member-select {
    text-transform: capitalize;
    order: 7;
}

.card-member-select input {
    width: 100%;
    font-weight: 600;
    background-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border: none;
    border-radius: 0 0 5px 5px;
    text-transform: uppercase;
}

.card-members {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    order: 6;
    align-items: center;
}

.card-members p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: blue;
    border-radius: 20px;
    color: white;
}

select {
    border-radius: 5px 5px 0 0;
    -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none; 
   border: 2px solid blue;
   max-height: 170px;
   padding-bottom: 1px;
   padding-top: 1px;
   width: 100%;
   overflow: hidden;
}

.member-select {
    order: 3;
}

.add-member {
    order: 2;
}

.members {
    order: 1;
}

.card-created {
    order: 5;
    padding-top: 0;
}

.card-created h3 {
    font-weight: 600;
}

.card-footer {
    position: relative;
    order: 8;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.card-footer input {
    border: 1px solid blue;
    font-size: .9rem;
}

.card p {
    margin-left: 10px;
}

[id*="nyttKortBeskrivelse"] {
    display: none;
    resize: none;
    border: none;
}

.forrige-liste, .neste-liste, .lukkKort {
    width: 33.3%;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    background: rgb(220,220,220);
    transition: .3s ease;
    font-weight: 600;
}

.forrige-liste:hover, .neste-liste:hover {
    background: rgb(190,190,190);
}

.forrige-liste {
    order: 1;
    border-radius: 0 0 0 5px;
}

.lukkKort {
    order: 2;
    background: red;
    color: white;
}

.lukkKort:hover {
    background: rgb(179, 2, 2);
}

.neste-liste {
    order: 3;
    border-radius: 0 0 5px 0;
}

.forrige-liste::content {
    content: "Hei" !important;
}

.slettListe {
    display: block;
}

#overlay {
    width: 100vw;
    height: 100vh;
    z-index: 998;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}

.openDialog {
    background: red;
    width: 500px;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px black;
}

.openDialog .slettListe{
    display: none;
}

.nyttKortInput, .make-card-container {
    display: none;
}

.bg-red {
    background: rgb(122, 4, 4);
    background: linear-gradient(20deg, rgba(122, 4, 4, 1) 0%, rgba(252, 69, 69, 1) 100%);
}

.bg-orange {
    background: rgb(211, 133, 30);
    background: linear-gradient(20deg, rgba(243, 149, 42, 1) 0%, rgb(252, 213, 108) 100%);
}

.bg-green {
    background: rgb(63, 133, 16);
    background: linear-gradient(20deg, rgba(63, 133, 16, 1) 0%, rgb(170, 255, 144) 100%);
}

.card-priority-picker {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 0px;
}

.card-priority-picker input {
    display: none;
}

.priority-container {
    width: 30px;
    height: 30px;
    background: black;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

.card-priority-picker label {
    position: absolute;
    top: 13%;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: .9rem;
    font-weight: 600;
}